


.tagLine{

    background-color: #EDEDED;
    padding: 1.5rem 0;
    font-size: 1.1rem;
    color: #373737;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.6rem solid #F5A000;
}
.tagLine img{
    width: 15%;
}

.server-down{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.child-image{
    width: 50%;
}
.child-image img{
    width: 100%;
}
.server-down .child-info{
    width: 40%;
    
}
.child-info h1{
    text-transform: capitalize;
    font-size: 2.7rem;
    font-weight: 900;
    color: #373737;
    margin-bottom: 2rem;
    
}
.child-info p{
   color: #373737;
   font-size: 1.5rem;
   font-family: sans-serif;
   margin-top: 1rem;
   width: 90%;
    
}
.child-info .bold{
    font-weight: bold;
    
}
.child-info button{

    background: none;
    outline: none;
    border: none;
    color: #373737;
    font-size: 1.7rem;
    background-color: #F5A000;
    width: 30%;
    padding: 1rem 0;
    border-radius: 0.8rem;
    cursor: pointer;
    margin-top: 2rem;
}
.child-info button:hover{

   background: none;
   border: 0.2rem solid #F5A000;
   color: #F5A000;
   transition: .3s linear;
}
footer{
    background-color: black;
    width: 100%;
    height: fit-content;
    padding-bottom: 2.5rem;
    
}
footer h3{
    font-style: italic;
    font-size: 2.1rem;
    color: #F5A000;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 3rem;
}
footer .contact{
    color: white;
    margin-top: 1.4rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .contact .contact-child{
    display: flex;
    align-items: center;
    
}

footer .contact .contact-child p{
   margin-left: 1.5rem;
    
}
footer .contact .contact-child .amount{
    color: #F5A000;
    font-size: 1.1rem;
    font-style: italic;
}
footer .contact .contact-child svg{
  color: black;
  font-size: 1.7rem;
  background-color: #F5A000;
  padding: 1.2rem;
  border-radius: 50%;
}
footer .spacer{

    width: 85%;
    margin: 4rem auto;
    opacity: 0.7;
    
}
footer .navigation{
    color: white;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 400;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer .navigation .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .copyright{
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer .copyright .copy-child{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-style: italic;
    width: 40%;
}


footer .copyright .copy-child span{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    letter-spacing: 1.5px;
}

footer .copyright .copy-child .present{
    font-size: 1.4rem;
    text-align: right;
    font-weight: bold;
    margin-right: 1rem;
}
footer .copyright .copy-child .flags{
    width: 30%;
}
.flagLex{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    
}
.flags img{
    width: 12%;
    margin: 0 0.3rem;
}
footer .social{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    display: none;
}

footer .social p{
    font-size: 1.3rem;
    color: #7D7D7D;
    font-family: sans-serif;
    font-style: italic;
    text-transform: uppercase;
}

footer .social ul li{
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
}
footer .social ul li a{
    color: white;
    
}

footer .social ul li a svg{
    font-size: 1.1rem;
    padding: 1rem;
    border: 0.1rem solid white;
    border-radius: 50%;
}
footer .mobile-tag{
    color: white;
    text-align: center;
    font-size: 1.6rem;
}
footer .mobile, .mobile-tag{
  display: none;
}